.home-container {
    margin-top: 180px;
    margin-left: 120px;
}

.text-title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.text-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-top: 30px;
    margin-bottom: 50px;
}

.email-subtitle {
    text-decoration: none;
    color: #1890FF;
}